# encoding: utf-8
<% @page_title="Вход" %>
<div id="login" class="dialog">
  <h2>Вход</h2>
  <%= form_for(:session, :url=>sessions_path, :class=>"panel-body") do |f| %>
      <fieldset>
        <div class="field">
          <%= f.label "Электронная почта:" %>

          <%= f.text_field :email, :class=>"text", :id=>"email", :size=>"43" %>
        </div>
        <div class="field">
          <%= f.label "Пароль:" %>
          <%= f.password_field :password, :class=>"text password", :id=>"password", :size=>"43" %>
        </div>
      </fieldset>
      <fieldset class="submit">
        <div>
          <%= f.submit "Войти", :class=>"submit" %>
        </div>
      </fieldset>
  <% end %>
</div>


<a href="/signup" id="message">
  Впервые на сайте? &nbsp; &nbsp; &nbsp;<span>Регистрация</span>
</a>