# encoding: utf-8
<% @page_title="Вход" %>
  <h1>Вход</h1>
<%= form_for(:session, :url=>sessions_path) do |f| %>

     <div class="field">
      <%= f.label "Электронная почта:" %><br />
      <%= f.text_field :email %>
    </div>
     <div class="field">
      <%= f.label "Пароль:" %><br />
      <%= f.password_field :password %>
    </div>
       <br />
     <div>
      <%= f.submit "Войти", :class=>"button" %><br />

    </div>


<% end %>

<p>Впервые на сайте? <%= link_to "Регистрация", signup_path %></p>
