<fieldset>
  <div class="field">
    <%= f.label "Имя пользователя:" %>
    <%= f.text_field :name, :class=>"text", :id=>"name", :size=>"43" %>
  </div>
  <div class="field">
    <%= f.label "Электронная почта:" %>
    <%= f.text_field :email, :class=>"text", :id=>"email", :size=>"43" %>
  </div>
  <div class="field">
    <%= f.label "Пароль:" %>
    <%= f.password_field :password, :class=>"text password", :id=>"password", :size=>"43" %>
  </div>
  <div class="field">
    <%= f.label "Подтверждение пароля:" %>
    <%= f.password_field :password_confirmation, :class=>"text password", :id=>"password", :size=>"43" %>
  </div>
</fieldset>