<% @page_title = "Удаление секции: #{@section.name}" %>
<%= link_to("<< К списку секций", {:action => 'list', :page_id => @page.id}, :class => 'box back-link', :box=>"yes") %>
<div class="section delete">
  <h2>Удаление секции "<%= @section.name %>"</h2>
  <%= form_for(:section, :url => {:action => 'destroy', :id=> @section.id, :page_id => @page.id}) do |f| %>
      <p class="large alert">Вы уверенны что хотите удалить секцию "<%= @section.name %>"?</p>

      <div class="button-container">
        <%= submit_tag("Удалить секцию") %>
      </div>
      </div>
  <% end %>