<% @page_title="Список секций" %>
<%= link_to("<< К списку страниц", {:controller => 'pages', :action=> 'list', :subject_id => @page.subject_id}, :class => 'box back-link', :box=>"yes") %>
<%= link_to("<< К списку разделов", {:controller => 'subjects', :action=> 'list'}, :class => 'box back-link', :box=>"yes") %>
<div class="section list">
  <h2>Секции страницы "<%= @page.name %>"</h2>
  <%= link_to("Создать новую секцию", {:action=>'new', :page_id => @page.id}, :class=>'button') %> <br/> <br/>
  <table class="datatable" summary="Section list">
    <thead>
    <tr class="header">
      <th>Позиция</th>
      <th>Секция страницы</th>
      <th>Видимость</th>
      <th>Тип содержимого</th>
      <th>Страница</th>
      <th>Действия</th>
    </tr>
    </thead>
    <tbody>
    <% @sections.each do |section| %>
        <tr class="<%= cycle('odd', 'even') %>">
          <td><%= section.position %></td>
          <td><%= section.name %></td>
          <td class="center"><%= status_tag(section.visible) %></td>
          <td class="center"><%= section.content_type %></td>
          <td class="center"><%= section.page.name %></td>
          <td class="actions">
            <%= link_to("Инфо", {:action=>'show', :id=>section.id, :page_id => @page.id}, :class=>'button') %>
            <%= link_to("Редактировать", {:action=>'edit', :id=>section.id, :page_id => @page.id}, :class=> 'button') %>
            <%= link_to("Удалить", {:action=>'delete', :id=>section.id, :page_id => @page.id}, :class=> 'button') %>
          </td>
        </tr>
    <% end %>
    </tbody>
  </table>
  <div class="pluralizenote">Найдено: <%= @sections.size %> <%= I18n.translate :section, :count=> @sections.size %></div>
</div>