<% @page_title="Информация о секции" %>
<%= link_to("<< К списку секций", {:action=>'list', :page_id => @page.id}, :class => 'box back-link', :box=>"yes") %>
<%= link_to("<< К списку страниц", {:controller => 'pages', :action=> 'list', :subject_id => @page.subject_id}, :class => 'box back-link', :box=>"yes") %>
<%= link_to("<< К списку разделов", {:controller => 'subjects', :action=> 'list'}, :class => 'box back-link', :box=>"yes") %>
<div class="section show">
  <h2>Информация о секции "<%= @section.name %>"</h2>
  <table class="datatable" summary="Section detail view">
    <tbody></tbody>
    <tr>
      <th>Имя секции</th>
      <td><%= @section.name %></td>
    </tr>
    <tr>
      <th>Позиция</th>
      <td><%= @section.position %></td>
    </tr>
    <tr>
      <th>Видимость</th>
      <td><%= @section.visible ? 'доступна для просмотра' :'не доступна для просмотра' %></td>
    </tr>
    <tr>
      <th>Страница</th>
      <td><%= @section.page.name %></td>
    </tr>
    <tr>
      <th>Тип содержимого</th>
      <td><%= @section.content_type %></td>
    </tr>
    <tr>
      <th>Создана</th>
      <td><%= @section.created_at %></td>
    </tr>
    <tr>
      <th>Обновлена</th>
      <td><%= @section.updated_at %></td>
    </tr>
    <tr>
      <th>Содержимое секции</th>
      <td><%= @section.content.html_safe %></td>
    </tr>
    </tbody>
  </table>
</div>