<% @page_title="Информация о странице" %>
<%= link_to("<< К списку страниц", {:action=>'list', :subject_id=>@subject.id}, :class => 'box back-link', :box=>"yes") %>
<div class="page show">
  <h2>Информация о странице "<%= @page.name %>"</h2>
  <table class="datatable" summary="Page detail view">
    <tbody>
    <tr>
      <th>Имя страницы</th>
      <td><%= @page.name %></td>
    </tr>
    <tr>
      <th>Позиция</th>
      <td><%= @page.position %></td>
    </tr>
    <tr>
      <th>Видимость</th>
      <td><%= @page.visible ? 'доступна для просмотра' :'не доступна для просмотра' %></td>
    </tr>
    <tr>
      <th>Постоянная ссылка</th>
      <td><%= @page.permalink %></td>
    </tr>
    <tr>
      <th>Раздел</th>
      <td><%= @page.subject.name %></td>
    </tr>
    <tr>
      <th>Создана</th>
      <td><%= @page.created_at %></td>
    </tr>
    <tr>
      <th>Обновлена</th>
      <td><%= @page.updated_at %></td>
    </tr>
    </tbody>
  </table>
</div>

