<% @page_title="Список разделов" %>
<%= link_to("<< Главное меню", {:controller => 'access', :action=> 'menu'}, :class => 'box back-link', :box=>"yes") %>
<div class="subject list">
  <h2>Разделы сайта</h2>
  <%= link_to("Создать новый раздел", {:action=>'new'}, :class=>'button') %>
  <br/> <br/>
  <table class="datatable" summary="Subject list">
    <thead>
    <tr class="header">
      <th>Позиция</th>
      <th>Раздел</th>
      <th>Видимость</th>
      <th>Количество страниц</th>
      <th>Действия</th>
    </tr>
    </thead>
    <tbody>
    <% @subjects.each do |subject| %>
        <tr class="<%= cycle('odd', 'even') %>">
          <td><%= subject.position %></td>
          <td><%= subject.name %></td>
          <td class="center"><%= status_tag(subject.visible) %></td>
          <td class="center"><%= subject.pages.size %></td>
          <td class="actions">
            <%= link_to("Страницы", {:controller =>'pages', :action => 'list', :subject_id => subject.id}, :class => 'button') %>
            <%= link_to("Инфо", {:action=>'show', :id=>subject.id}, :class=>'button') %>
            <%= link_to("Редактировать", {:action=>'edit', :id=>subject.id}, :class=> 'button') %>
            <%= link_to("Удалить", {:action=>'delete', :id=>subject.id}, :class=> 'button') %>
          </td>
        </tr>
    <% end %>
    </tbody>
  </table>
  <div class="pluralizenote">Найдено: <%= @subjects.size %> <%= I18n.translate :subject, :count=> @subjects.size %></div>
</div>