<% @page_title="Subject Details" %>
<%= link_to("<< Главное меню", {:controller => 'access', :action=> 'menu'}, :class => 'box back-link', :box=>"yes") %>
<%= link_to("<< К списку разделов", {:action=>'list'}, :class => 'box back-link', :box=>"yes")%>

<div class="subject show">
  <h2>Информация о разделе "<%= @subject.name %>"</h2>

  <table class="datatable" summary="Subject detail view">
  <tbody><tr>
    <th>Название раздела</th>
    <td><%= @subject.name %></td>
  </tr>
  <tr>
    <th>Позиция</th>
    <td><%= @subject.position %></td>
  </tr>
  <tr>
  <th>Видимость</th>
    <td><%= @subject.visible ? 'доступен для просмотра' :'не доступен для просмотра'%></td>
  </tr>
  <tr>
    <th>Создан</th>
    <td><%= @subject.created_at %></td>
  </tr>
  <tr>
    <th>Обновлен</th>
    <td><%= @subject.updated_at %></td>
  </tr>
    </tbody>
  </table>
</div>