<% @page_title="Список пользователей" %>
<%= link_to("<< Главное меню",{:controller => 'access',:action=> 'menu'},  :class => 'box back-link', :box=>"yes") %>
<div class="user list">
  <h2>Список пользователей</h2>


  <table class="datatable" summary="Admin users list"><thead>
    <tr class="header">
      <th>Имя</th>
      <th>Адрес электронной почты</th>
      <th>Админ статус</th>
      <th>Действия</th>

    </tr></thead><tbody>
    <% @admin_users.each do |admin_user| %>
    <tr class="<%= cycle('odd', 'even') %>">

      <td><%= admin_user.name %></td>
      <td><%= admin_user.email %></td>
      <td><%= status_tag(admin_user.admin) %></td>

      <td class="actions">

      <%= link_to("Редактировать",{:action=>'edit',:id=>admin_user.id},:class=> 'button') %>
        <%= link_to("Удалить",{:action=>'delete',:id=>admin_user.id},:class=> 'button') %>
      </td>
    </tr>
        <% end %>
        </tbody>
  </table>
  <div class="pluralizenote">Найдено: <%= @admin_users.size %> <%=I18n.translate :admin_user, :count=> @admin_users.size %></div>
  </div>