<!DOCTYPE html>
<html>
<head>
  <title>Храм Покрова Пресвятой Богородицы (Казачий хутор Ветютнев)::: <%= @page_title || '' %> </title>
  <%= csrf_meta_tag %>
  <meta http-equiv="content-type" content="text/html; charset=UTF-8"/>
  <meta name="description" content="Храм Покрова Пресвятой Богородицы в хуторе Ветютнев Фроловского района Волгоградской области"/>
  <%= stylesheet_link_tag "admin" %>
  <%= javascript_include_tag "admin" %>
  <%= javascript_include_tag "/javascripts/ckeditor/ckeditor.js" %>

  <script language="javascript">
      $(function() {
          // We create rounded corners for all divisions that have the attribute "box".
          $("[box]").corner("round 10px");
          $('div.inner').corner("round 10px");
          $('div.outer').corner("bottom 10px");

      });
  </script>
</head>
<body>
<div class="container">
  <div class="span-24 last header" box='yes'>
    <h1 class="alt">Храм Покрова Пресвятой Богородицы</h1>

    <h2 class="alt">Административный раздел</h2>
    <!-- end .header --></div>

  <div class="span-24 last content">
    <% flash.each do |key, value| %>
                <div class="notice <%= key %>"><%= value %></div>
            <% end %>


    <%= yield %>

    <!-- end .content --></div>


  <%= render 'layouts/footer' %>
  <!-- end .container --></div>
</body>
</html>
